/* CSS Document */
*{margin:0;padding:0}
a:link{color:#000}
a:active{color:#003f7f}
a:hover{color:#000}
a:visited{color:#003f7f}
form, label, input, select, option, .formlabel, .formfield {font:bold 12px Verdana;;color:#000}
.button {color:#E6550E;font-weight:bold}
body{background:url(../images/login_bg.png) repeat;font: bold 12px Arial;color:#000000;margin:0;padding:0;}
#container{margin:0;padding:0;width:100%;height:auto;overflow:hidden;float:left;}
#header{padding:0;margin:0;width:100%;} 
.topborder{background:url(../images/top_bottom_bar.png) repeat-y top;height:8px;_height:1px;width:100%;}
#logoHolder { padding:30px 6px 6px 66px;_padding:20px 6px 6px 66px;#padding:20px 6px 6px 66px;overflow:auto;float:left;} 
#bodyCon{margin:0;padding:0;width:100%;height:auto;float:left;}
table.formtable {border:1px solid #8ca9c6;margin:25px 6px 6px 66px;_margin:20px 6px 6px 66px;padding:16px 6px 16px 16px;width:87%;background-color:#edf0f3;}
table.formtable th {padding:0 12px 0 12px;background-color:#5f9bd8;-moz-border-radius: ;font:bold 12px Arial;color:#fff;height:25px;text-align:left;white-space: nowrap;}
table.formtable td {height:25px;padding:3px 12px 3px 12px;}
.label-bold{font: bold 12px Arial;color:#000;padding-left:4px;}
.caption{font: bold 12px Arial;color:#999;padding:5px 0 0 66px;}
.textfield{border:1px solid #5f9bdb;font:bold 12px Verdana;color:#000;padding-left:2px;padding-right:2px;padding-top:0;text-align:left;height:19px;width:150px;}
.grayed-textfield{border:1px solid #666;font:bold 12px Verdana;color:#000;text-align:left;width:150px;height:19px;padding-left:2px;padding-right:2px;padding-top:0;margin-left:12px;background-color:#f5f5f5;}
.ovalbutton{background:url(../images/std-button.png);font:bold 12px arial;height: 24px;margin-top: 11px;marging-right:20px;marging-left:20px;text-decoration:none;width:101px;text-align:center;border:0;color:#fff;}
.disbale-button{background:url(../images/std-button-disabled.png);font: bold 12px arial;height:24px;margin:11px 20px 0 20px;text-decoration:none;width:101px;text-align:center;border:0;color:#fff;}
.footer{background:url(../images/top_bottom_bar.png) repeat-y bottom;height:8px;_height:1px;#height:1px;width:100%;float:left;margin-top:25px;}